@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,600,700|Montserrat+Alternates:400,500,600,700|Montserrat:400,700&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');

/*general*/

.navigation {
    background-color: #fff3e0;
}

.nav-item a {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.1rem;
}

.navbar {
    background: none !important;
}

    .navbar p {
        margin-top: 0.7rem !important;
        font-size: 18px !important;
    }

@media all and (max-width: 1000px) {
    .navbar p {
        display: none;
    }
}

.navbar-brand img {
    width: 150px;
}

.padding {
    padding: 10px;
}

.centered {
    text-align: center;
}

.logo img {
    margin-top: 1rem;
}

header {
    background: linear-gradient(to right, #ffcc66 0%, #ff5050 80%);
    height: 5em;
}

    header img {
        height: 2.5rem !important;
        margin: 0.5rem;
    }

@media all and (max-width: 600px) {
    .email-div {
        display: none;
    }

    .logo {
        text-align: center;
        display: block;
    }
}

.fa-envelope {
    padding: 0.2rem;
    float: left;
    font-weight: 400;
}

.fa-phone-alt {
    float: left;
    font-size: 1rem;
    margin-top: 0.7rem;
    padding: 0.3rem;
    color: #ffffff;
}

.phones {
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}

.phones-div {
    margin-top: 1rem;
}

@media all and (max-width: 1200px) {
    .address-div {
        display: none;
    }
}

@media all and (max-width: 800px) {
    .phones-div {
        display: none;
    }
}

.email-div p,
.email-div a,
.email-div .fa-facebook-square,
.address-div p,
.address-div a,
.email-div .fa-facebook-square:hover
.address-div a:hover
{
    color: #ffffff;
}


.phones-div, .email-div, .address-div {
    margin-top: 1rem;
}

.email-div p, 
.email-div a, 
.address-div p, 
.address-div a {
    font-weight: 600;
}

.fa-map-marker-alt {
    float: left;
    font-size: 1.5rem;
    margin-top: 0.6rem;
    padding: 0.4rem;
    color: #ffffff;
}

footer {
    background: linear-gradient(to right, #ffcc66 0%, #ff5050 80%);
    padding-top: 20px;
    font-size: 1.3rem;
    font-family: MontserratAlternates;
    font-weight: 500;
    color: #ffffff;
}





/*main*/

.service {
    font-family: Montserrat;
    font-weight: 400;
    color: #ff5050;
    font-size: 2rem;
}

    .service:hover {
        color: #ff5050;
    }

@media all and (max-width: 1000px) {
    .carousel-caption {
        bottom: 0rem !important;
        padding-bottom: 0.5rem !important;
    }

    .service {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 500px) {
    .service {
        font-size: 1rem;
    }
}

.carousel-indicators li {
    border: 0.2rem solid #fff59d;
    border-radius: 10px;
}

.carousel-indicators .active {
    border: 0.2rem solid #0000ff;
}

#publishing-title, #design-title {
    text-align: left;
    margin-top: 4rem;
    font-family: Philosopher;
    font-weight: 500;
}



/*index*/

.detal {
    background-color: #fff8e1;
    font-family: Montserrat;
    position: relative;
    padding: 0rem;
}

.card {
    border: 1px solid #e5e5e5;
    word-wrap: unset !important;
}

.card-title, .card-title {
    font-family: MontserratAlternates;
    font-size: 1.1rem;
    height: 4rem;
}

    .card-title a, .card-title a:hover {
        color: #000000;
    }

@media all and (min-width: 600px) and (max-width: 1200px) {
    .card-title {
        height: 9rem;
    }
}

.book-details img {
    float: left;
}

@media all and (max-width: 500px) {
    .book-details img {
        float: none;
    }
}

@media all and (min-width: 750px) and (max-width: 1000px) {
    .detal {
        font-size: 0.85rem !important;
    }
}

.book-details h4 {
    font-family: MontserratAlternates;
    font-size: 1.6rem;
    text-align: center;
}

.literature {
    text-align: left;
    margin-top: 2rem;
    font-family: Philosopher;
    font-weight: 500;
}

.study {
    margin-top: 5rem;
}





/*info*/

.info p {
    text-indent: 2rem;
    font-family: Montserrat;
    text-align: justify;
    font-size: 1.15rem;
}

.info ul li {
    font-family: Montserrat;
    padding: 0.3rem;
    font-size: 1.15rem;
}

.centeredinfo {
    font-family: Montserrat;
    padding: 0.3rem;
    text-align: center;
    font-size: 1.4rem;
}

.fa-palette {
    color: #ff5050;
    font-size: 0.8rem;
}

.fa-book-open {
    color: #ff5050;
    font-size: 0.8rem;
}

.fa-bookmark {
    color: #ff5050;
    font-size: 0.8rem;
}

.imgs {
    float: right;
    margin-left: 1rem;
}

@media all and (max-width: 500px) {
    .imgs {
        float: none;
    }
}





/*publishing*/

#publishing_img {
    width: 25rem;
    height: auto;
}





/*contacts*/

.contacts {
    background-color: #fff3e0;
    font-family: Montserrat;
    padding: 0.3rem;
    text-align: center;
    font-size: 1.1rem;
}

    .contacts h2 {
        font-weight: 500;
        font-size: 1.7rem;
    }

.fa-facebook-square {
    padding: 0.2rem;
    color: #000000;
    font-weight: 400;
}

.facebook {
    color: #000000;
}

.map {
    width: 100%;
    height: 100%;
    border: 0;
}

#map-h {
    font-family: Montserrat;
    height: 10%;
}

@media all and (max-width: 1000px) {
    .contacts {
        font-size: 1rem;
    }

        .contacts h2 {
            font-size: 1.5rem;
        }
}

#email-contacts {
    float: none;
}
