<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.0486796314945!2d24.018918315879638!3d49.84154283893157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add715ede12bd%3A0x451524381453680d!2z0KbQuNGE0YDQvtCy0LjQuSDQtNGA0YPQuiDQn9CQ0IbQoQ!5e0!3m2!1suk!2sua!4v1570993450247!5m2!1suk!2sua"
                class="map">
        </iframe>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 contacts">
        <h2>Наша адреса</h2>
        <p>79007, м. Львів, <br> вул Гребінки, <br> буд. 5, оф. 1</p>
        <h2>Графік роботи</h2>
        <p>
            Понеділок - п'ятниця <br> 9.00 - 18.00 <br>
            Обід: 13.00 - 14.00 <br>
            Субота, неділя: вихідні
        </p>
        <h2>Пишіть</h2>
        <p>
            <i class="fas fa-envelope" id="email-contacts"></i>pais.druk@gmail.com<br>
            <a href="https://www.facebook.com/pais.com.ua/" class="facebook">
                <i class="fab fa-facebook-square"></i>Facebook
            </a>
        </p>
        <h2>Телефонуйте</h2>
        <p>
            (032) 255-49-00 <br>
            (032) 261-24-15
        </p>
    </div>
</div>
