<div class=" info">
    <p>
        Оперативний цифровий друк – це:
    </p>

    <img src="~/images/druk_img.jpg" class="imgs img-fluid img-thumbnail" alt="druk" />

    <ul class="fa-ul">
        <li>
            <span class="fa-li"><i class="fas fa-bookmark"></i></span>
            мінімальний тираж – 1 примірник;
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-bookmark"></i></span>
            роздрук пробного екземпляру перед друком тиражу;
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-bookmark"></i></span>
            можливість внесення фінальних змін в електронний макет;
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-bookmark"></i></span>
            використання різних матеріалів: крейдований (глянцевий, матовий)
            та офсетний папери, дизайнерський картон, самоклейка тощо.
        </li>
    </ul>

    <p>
        Видавництво «ПАІС» пропонує якісний оперативний повноколірний цифровий друк на машині Xerox С60, яка друкує з
        роздільною здатністю 2400х2400 dpi на папері щільністю від 64 г/м<sup>2</sup> до 300 г/м<sup>2</sup>.

    </p>

    <ul class="fa-ul">
        <li>
            <span class="fa-li"><i class="fas fa-bookmark"></i></span>
            друкуємо:<br>

            – візитки, бейджі;<br>
            – фірмові бланки;<br>
            – календарі, стікери та наклейки;<br>
            – оголошення, афіші, постери, плакати;<br>
            – листівки, флаєри, вітальні відкритки, запрошення;<br>
            – буклети, альбоми, каталоги, програми заходів;<br>
            – подяки, дипломи, сертифікати, грамоти;
        </li>

        <li>
            <span class="fa-li"><i class="fas fa-bookmark"></i></span>
            виготовляємо записники та папки;
        </li>

        <li>
            <span class="fa-li"><i class="fas fa-bookmark"></i></span>
            виконуємо палітурні роботи.
        </li>
    </ul>
    <p>
        Гарантуємо якість, оперативність та помірні ціни на цифровий друк.
        Ми враховуємо міркування, побажання та вимоги щодо термінів роботи, водночас не нехтуючи її результатами: за
        потреби професійно допрацюємо макет, виправимо недоліки чи порадимо, як це можна зробити.
    </p>
</div>
}
