<div class="info" id="main_info">
    <p class="centered">
        Основна сфера діяльності Видавництва «ПАІС» – випуск у світ книжково-журнальної продукції.
        Редакційну роботу та іншу додрукарську видавничу підготовку текстового та ілюстративного матеріалу виконують
        висококваліфіковані
        дипломовані спеціалісти. Працівники Видавництва спеціалізуються на редагуванні наукової літератури. Запрошуємо до
        співпраці науковців магістрантів, співшукачів, аспірантів, докторантів, доцентів і
        професорів.Наша мета - дати витончену словесну огранку Вашим науковим здобуткам.
    </p>


    <img src="~/images/publishing_img.png" class="imgs img-fluid img-thumbnail" id="publishing_img" alt="publishing" />


    <p> Видавництво «ПАІС» надає такі видавничі послуги: </p>
    <ul class="fa-ul">
        <li>
            <span class="fa-li"><i class="fas fa-book-open"></i></span>
            технічне та літературне редагування текстів будь-якої складності;
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-book-open"></i></span>
            коректура, оформлення бібліографії відповідно до вимог нового стандарту, створення іменних, тематичних,
            предметних покажчиків;
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-book-open"></i></span>
            розробка художнього оформлення видань та обкладинок, підготовка ілюстративного матеріалу;
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-book-open"></i></span>
            забезпечення видань бібліотечними кодами, ISBN та ISSN, формування бібліографічних описів, технічних сторінок,
            написання анотацій тощо;
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-book-open"></i></span>
            верстка, макетування та підготовка видань до поліграфічного відтворення;
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-book-open"></i></span>
            друк видань різної складності від одного примірника до мільйонних накладів, виконання палітурних та інших
            видів поліграфічних робіт;
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-book-open"></i></span>
            обов’язкова розсилка книг у бібліотеки України відповідно до переліку установ, затвердженого Кабінетом Міністрів
            України;
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-book-open"></i></span>
            розміщення видань в основних книготорговельних мережах та магазинах;
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-book-open"></i></span>
            представлення видань на книжкових форумах та конкурсах, організація презентацій, рекламних акцій, зустрічей iз
            читачами тощо.
        </li>
    </ul>

    <p>Гарантуємо високу якість, стислі терміни та належну фаховість. </p>
    <p> Пишіть нам, телефонуйте, завітайте особисто. </p>
</div>