@inject SignInManager<Customer> _signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Видавництво "ПАІС"</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/style.css">

    <script src="https://kit.fontawesome.com/0256878591.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script scr="https://ajax.googleapis.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

    <script scr ="https://ajax.googleapis.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <a href="main.html" class="logo"><img src="~/images/logo_white.png" class="img-fluid" alt="logo" /></a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 phones-div">
                    <i class="fas fa-phone-alt"></i>
                    <p class="phones">
                        (032) 255-49-00 <br>
                        (032) 261-24-15
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 email-div">
                    <p>
                        <i class="fas fa-envelope"></i>pais.druk@gmail.com<br>
                        <i class="fab fa-facebook-square"></i>
                        <a href="https://www.facebook.com/pais.com.ua/">Facebook</a>
                    </p>
                </div>
                <div class="col-lg-3 address-div">
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <form method="post" asp-action="logout" asp-controller="account">
                                <button type="submit" class="nav-link btn btn-link py-0">
                                    Вийти @User.Identity.Name
                                </button>
                            </form>
                        }
                        else
                        {
                            <a asp-action="register" asp-controller="account">Зареєструватися</a><br>
                            <a asp-action="login" asp-controller="account">Увійти</a>
                        }            
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Main" class="nav-link">Про нас</a>
                        </li>
                        <li class="nav-item active">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Наші видання</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Publishing" class="nav-link">Видавництво</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Design" class="nav-link">Дизайн-студія</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Druk" class="nav-link">Цифровий друк</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Contacts" class="nav-link">Контакти</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Створити
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Book"
                                       asp-action="Create">Книга</a>
                                    <a class="dropdown-item" asp-controller="Author"
                                       asp-action="Create">Автор</a>
                                    <a class="dropdown-item" asp-controller="Category"
                                       asp-action="Create">Категорія</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container padding">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="container-fluid padding centered">
        <div class="container">
            <p>&copy; Видавництво "ПАІС", 2019</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>
