<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Видавництво "ПАІС"</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/style.css">

    <script src="https://kit.fontawesome.com/0256878591.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

</head>
<body>  
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <a href="main.html" class="logo"><img src="~/images/logo_white.png" class="img-fluid" alt="logo" /></a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 phones-div">
                    <i class="fas fa-phone-alt"></i>
                    <p class="phones">
                        (032) 255-49-00 <br>
                        (032) 261-24-15
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 email-div">
                    <p>
                        <i class="fas fa-envelope"></i>pais.druk@gmail.com<br>
                        <i class="fab fa-facebook-square"></i>
                        <a href="https://www.facebook.com/pais.com.ua/">Facebook</a>
                    </p>
                </div>
                <div class="col-lg-3 address-div">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>
                        Львів<br>
                        вул Гребінки, буд. 5, оф. 1
                    </p>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="main.html" class="nav-link">Про нас</a>
                        </li>
                        <li class="nav-item active">
                            <a href="index.html" class="nav-link">Наші видання</a>
                        </li>
                        <li class="nav-item">
                            <a href="publishing.html" class="nav-link">Видавництво</a>
                        </li>
                        <li class="nav-item">
                            <a href="design.html" class="nav-link">Дизайн-студія</a>
                        </li>
                        <li class="nav-item">
                            <a href="druk.html" class="nav-link">Цифровий друк</a>
                        </li>
                        <li class="nav-item">
                            <a href="contacts.html" class="nav-link">Контакти</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="container-fluid padding centered">
        <div class="container">
            <p>&copy; Видавництво "ПАІС", 2019</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
